<html>
<head th:replace="fragments::head"></head>
<body>
<div role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="nav navbar-nav">
                    <a th:href="@{/index}"><button class="btn btn-default" onclick="showGraph()" type="submit">Zobrazit graf</button></a>
                    <a th:href="@{/admin}"><span class="btn btn-default">Sheduling</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <form class="navbar-form" method="post" action="#" th:action="@{/admin/pattern}">
        <p>
            <label for="pattern">Pattern scheduleru</label>
            <input type="text" name="pattern" id="pattern" th:value="${pattern}" />
            <button class="btn btn-default">Nastavit</button>
        </p>
        <span th:text="${message}" th:if="${message!=null}">Error</span>
    </form>
    <div class="navbar-form">
        <a th:href="@{/scheduler/start}"><button class="btn btn-default">Spustit scheduler</button></a>
        <a th:href="@{/scheduler/stop}"><button class="btn btn-default">Zastavit scheduler</button></a>
        <a th:href="@{/scheduler/status}"><button class="btn btn-default">Stav</button></a>
    </div>
</div>
</body>

</html>
