<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="@{../styles.css}" th:href="@{css/styles.css}" type="text/css"/>
    <link rel="stylesheet" href="@{../graphStyles.css}" th:href="@{css/graphStyles.css}" type="text/css"/>
    <title>Neo -Integra graf</title>
</head>
<body>
<div id="navigation" role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="nav navbar-nav">
                    <a th:href="@{/admin}"><span class="btn btn-default">Sheduling</span></a>
                    <a th:href="@{/list}"><span class="btn btn-default">List</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>