<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments::head"></head>
<body>
<div th:replace="fragments::#navigation"/>
<table border="1">
    <thead>
    <th>Name</th>
    <th>ID</th>
    <th>Edit</th>
    <th>Remove</th>
    </thead>
    <tbody>
    <tr th:each="system : ${systems}">
        <td><input type="text" th:value="${system.name}"/></td>
        <td><input type="text" th:value="${system.id}" size="3"/></td>
        <td><a th:href="@{/edit}">edit</a></td>
        <td><a th:href="@{/delete}">remove</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>