<html>
<head th:replace="fragments::head"></head>
<body>
<div id="graph">
</div>
<div th:replace="fragments::#navigation"/>
<div id="toolbar">
    <div id="appName"></div>
    <table id="consumedMethodsTable">
        <thead>
        <th>Název</th>
        <th>Verze</th>
        <th>Počet</th>
        </thead>
        <tbody id="consumedTbody">
        <tr>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/visualisationD3.js" th:src="@{js/visualisationD3.js}"></script>
</body>
</html>
